/*
	Copyright Kathrin Janowski (https://www.kathrinjanowski.com/en/home), 2021.
  
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

:root{
	--color-skin: tan;
	--color-hair: brown;
	--color-eyes: #000000;
	--color-mouth: #aa3344;	
	--color-top: seaGreen;	
	--color-pants: darkSlateGray;	
	--color-shoes: maroon;
}



/*-------------------------------------------------
  animations
-------------------------------------------------*/

@keyframes speak{
	0% {d: M 130 160 Q 150 170 170 160 Q 150 165 130 160;}
	50% {d: M 130 160 Q 150 170 170 160 Q 150 200 130 160;}
	100% {d: M 130 160 Q 150 170 170 160 Q 150 165 130 160;}
}

@keyframes silent{
	100% {d: M 130 160 Q 150 170 170 160 Q 150 165 130 160;}
}


/*-------------------------------------------------
  SVG elements
-------------------------------------------------*/

.agent-head{
	fill: var(--color-skin);
	stroke: transparent;
}

.agent-hair{
	fill: var(--color-hair);
	stroke: transparent;
}

.agent-brow{
	fill: transparent;
	stroke: var(--color-hair);
	stroke-width: 3;
}

.agent-eye{
	fill: var(--color-eye);
	stroke: transparent;
}

.agent-mouth{
	fill: var(--color-mouth);
	stroke: transparent;
	d: M 130 160 Q 150 170 170 160 Q 150 165 130 160;
}

.agent-neck{
	fill: transparent;
	stroke-width: 30;
	stroke: var(--color-skin);
	stroke-linecap: round;
}

.agent-arm{
	fill: transparent;
	stroke-width: 25;
	stroke: var(--color-skin);
	stroke-linecap: round;
}

.agent-finger{
	fill: transparent;
	stroke-width: 5;
	stroke: var(--color-skin);
	stroke-linecap: round;
}


.agent-leg{
	fill: transparent;
	stroke-width: 30;
	stroke: var(--color-pants);
	stroke-linecap: round;
}

.agent-foot{
	fill: transparent;
	stroke-width: 35;
	stroke: var(--color-shoes);
	stroke-linecap: round;
}

.agent-torso{
	fill: var(--color-top);
	stroke:transparent;
}

.agent-hips{
	fill: var(--color-pants);
	stroke:transparent;
}

.agent-sleeve{
	fill: transparent;
	stroke-width: 35;
	stroke: var(--color-top);
	stroke-linecap: round;
}
