/*
	Copyright Kathrin Janowski (https://www.kathrinjanowski.com/en/home), 2021.
  
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

:root{
	--bg-color-darkest: #000000;
	--bg-color-dark: #222324;
	--bg-color-neutral: #3c3c3c;
	--bg-color-bright: #7d7d7d;
	--fg-color-bright: #ffffff;
	--fg-color-neutral: #888888;
	--fg-color-dark: #000000;
	
	--node-color-neutral: #ffffff;
	--node-color-edited: #ccccff;
	--node-color-played: #88ff88;
	--node-border-width: 3px;
	
	--layer-agent: 1;
	--layer-editor: 2;
	--layer-help: 15;
}

div{
	display: inline-block;
	vertical-align:top;
	position: relative;
}

body{
	background:var(--bg-color-darkest);
}

.page{
	width:1600px;
	height:800px; 
	position: relative;
	top:0px;
	margin-left:auto;
	margin-right:auto;
	background: var(--bg-color-darkest);
}

.tabPanel{
	position: relative;
	height: 760px;
	width: 300px;
	padding:20px;
	margin:0px;
	
	background:var(--bg-color-neutral);
	color:var(--fg-color-bright);
	
	border: 1px solid var(--bg-color-darkest);
	
	overflow: auto;
}	

/*-------------------------------------------------
  help popup
-------------------------------------------------*/

.help-button{
	width:20px!important;
	height:20px!important;
	float:right;
}


.help-popup{
	display:block;
	background:var(--bg-color-dark);
	color:var(--fg-color-bright);
	padding:10px;
	position:absolute;
	right:0px;
	top:20px;
}




/*-------------------------------------------------
  SVG dialogue flow display
-------------------------------------------------*/

#flowViewerTab{
	z-index:var(--layer-editor);
}

.viewport{
	background: var(--bg-color-neutral);
	width:300px;
	height:500px;
	overflow:scroll;
	border:1px solid var(--fg-neutral-color);
}

#flowViewer{
	width: 1500px;
	height: 1000px;
}

.flowNode{
	fill: var(--node-color-neutral);
	fill-opacity: 1.0;
	stroke: transparent;
	stroke-width: var(--node-border-width);
	stroke-opacity: 1.0;
}

.flowNode.edited{
	fill: var(--node-color-edited);
}

.flowNode.played{
	stroke: var(--node-color-played);
}


.flowNode text{
	fill: var(--fg-color-bright);
	stroke-width:3;
	fill-opacity: 1.0;
}

.flowEdge{
	stroke: var(--fg-color-bright);
	stroke-opacity: 1.0;
	fill: transparent;
}

.flowArrow{
	fill: var(--fg-color-bright);
	fill-opacity: 1.0;
	stroke: transparent;
}

/*-------------------------------------------------
  topic editor
-------------------------------------------------*/

#toolshelf{
	z-index:var(--layer-editor);
}

.accordion {
	display:block;
	border: 1px solid var(--fg-color-bright);
}

.accordion .caption{
	width:100%;
	display:block;
	background:var(--bg-color-dark);
}

.accordion .content{
	display:none;
	padding:10px;
	background: var(--bg-color-neutral);
	box-shadow: 5px 5px 3px rgba(0,0,0,0.2) inset; 	
}

#topicEditor{
	display:none;
}

label, input, button{
	margin-top:5px;
	margin-bottom:5px;
}

input.coordinates{
	width:80px;
}

.panel{
	margin:0px;
	padding:0px;
	position:relative;
}

.list-panel{
	margin:10px;
	padding:10px;
	width:240px;
	border:1px solid var(--fg-color-neutral);
	position:relative;
}

.list-panel label{
	margin-right:10px;
}

.list-panel input{
	right:0px;
	width:auto;
}

#topicList{
	width:280px;
	min-height:50px;
	height:auto;
	overflow:scroll;
	border: 1px solid var(--fg-color-neutral);
}

#topicList button{
	display:block;
}

#dialogueData{
	position:relative;
	width:290px;
	min-height:100px;
	overflow:scroll;
	border: 1px solid var(--fg-color-neutral);
}


#importExportPanel button{
	display:inline-block;
	width: 45%;
	margin:auto;
}

/*-------------------------------------------------
  agent display
-------------------------------------------------*/


#agentPanel{
	padding:0px;
	width:700px;
	height:800px;
	background:var(--bg-color-dark);
}

#webglcontainer{
	z-Index: var(--layer-agent);
	position:relative;
	width: 400px;
	height: 800px;
	background: var(--bg-color-bright);
	box-shadow: 5px 0px 10px 10px rgba(0,0,0,0.2) inset;
	display:inline-block;	
}

#answerOptions{
	height:800px;
	width:290px;
	display:none;
	margin:0px;
}

#answerOptions button{
	display:inline-block;
	width:100%;
	height:60px;
	font-size:20px;
}

#playControls{
	position: absolute;
	top:0px;
	left:0px;
	z-index: var(--layer-editor);
}










